<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Derived Resource Marker"
            visible="true"
            id="nl.mwensveen.derivedresourcemarker.actionSet">
         <menu
               icon="icons/icon16x16.png"
               id="nl.mwensveen.derivedresourcemarker.menu"
               label="Derived Resource Marker">
            <separator
                  name="nl.mwensveen.derivedresourcemarker.seperator">
            </separator>
         </menu>
         <action
               label="Derived Resource Marker"
               icon="icons/icon16x16.png"
               class="nl.mwensveen.derivedresourcemarker.action.Action"
               tooltip="Mark resources in all projects as derived"
               menubarPath="nl.mwensveen.derivedresourcemarker.menu/nl.mwensveen.derivedresourcemarker.group"
               toolbarPath="nl.mwensveen.derivedresourcemarker.group"
               id="nl.mwensveen.derivedresourcemarker.action">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.mwensveen.derivedresourcemarker.preferences.DRMPreferencePage"
            id="nl.mwensveen.derivedresourcemarker.preferencepage"
            name="Derived Resource Marker Preferences">
      </page>
   </extension>


</plugin>
